@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');

.paragraph {
    margin: 0;
    font-weight: bold;
    letter-spacing: 0.2em;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}