* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.contato{
    background-color:  rgb(255, 61, 61);  
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}


.nome{

    margin-top: 5px;
    width: 500px;
    

}

.email{

    margin-top: 5px;
    width: 500px;
}

.comentario{

    margin-top: 10px;
    width: 500px;
}

.botao{

    margin: 10px;

}

.titulo{

    margin-left: 10px;
    color: whitesmoke;
    display: inline-block;
    height: 100%;
    font-size: 22px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 0 3px;
    font-weight: bold;
}